<p>
  <b>Title:</b>
  <%=h @message.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @message.recipient_id %>
</p>

<p>
  <b>Sender:</b>
  <%=h @message.sender_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @message.created_at %>
</p>



<p>
  <b>Read at:</b>
  <%=h @message.read_at %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>