	<div class="project_participant_thinmenu_subnav">
		<ul id="project_participant_subnav">
			<li class="hurdle"><a href="/project_participant?id=<%= @Project.id.to_s %>"title="Participant:Main">"Participant View:Main</a></li>
			<li class="plan_badge"><a href="/project_participant_plan?id=<%= @Project.id.to_s %>"title="Plan Section">Participant View:Plan</a></li>
			<li class="team_badge"><a href="/project_participant_team?id=<%= @Project.id.to_s %>" title="Team Section">Participant View:Team</a></li>
			<li class="mentor_badge"><a href="/project_participant_mentor?id=<%= @Project.id.to_s %>" title="Mentor Section">Participant View:Mentor</a></li>	<li class="public"><a href="/project_public_inside?id=<%= @Project.id.to_s %>">blah blah</a></li>
		</ul>
	</div>