<%= stylesheet_link_tag "tab_box_inbox.css"  %>
<div id="inbox_nav" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
        	<a href="/project_participant?id=<%=@Project.id %>"><span>Update</span></a>
		</li>
		<li class="ui-state-default ui-corner-top">
 			<a href="/project_description?id=<%=@Project.id %>"><span>Description</span></a>
		</li>
		<% if @Project.is_team_leader(@current_profile)==true %>	
		<li class="ui-state-default ui-corner-top">
 			<a href="/project_about?id=<%=@Project.id %>"><span>Edit: About</span></a>
		</li>
		<li class="ui-state-default ui-corner-top">
 			<a href="/project_teaser?id=<%=@Project.id %>"><span>Edit: Teaser</span></a>
		</li>
		<%end%>	
    </ul>
</div>