<body id="project">
	<%= render(:partial => "/layouts/insidemenu") %>
	<div class="project_participant-container">
		<%=render(:partial => "project_subnav") %>
		<div class="project_participant_main">
			<%=render(:partial => "project_head") %>
			<%=render(:partial => "plan_nav") %>
			<%=render(:partial => "project_plan") %>
			<%=render(:partial => "layouts/insidefooter") %>
	</div>
</body>
</html>