<body id="myparticipation">
<%= render(:partial => "/layouts/insidemenu") %>
<div class="hub-container">	
<%= render(:partial => "/hub/hub_thin_nav") %>
<%= render(:partial => "/hub/hub_head") %>
<div class="hub_leftcol">
		<div class="hub_myparticipation_watching">
			<%= render(:partial => "/hub/watched_projects") %>
		</div>
		<div class="hub_myparticipation_participant">	
			<%= render(:partial => "/hub/participating_projects") %>
		</div>
</div>
	<div class="hub_rightcol">
		<div class="hub_myparticipation_application">	
			<h3>Project Applications and Invitations</h3>
			ADD Applications and Invitations Here
		</div>

		<div class="hub_myparticipation_history"><h3>Project History</h3>
		Project History Here</div>
	</div>
	

  
	
	


</div>
		

</div>
	

