<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(@title || "Untitled") %></title>
    <%= stylesheet_link_tag 'application_mc' %>
    <%= stylesheet_link_tag 'modalbox' %>
    <%= stylesheet_link_tag 'layout_mc' %>
    <%= stylesheet_link_tag 'requests' %>
    <%= stylesheet_link_tag 'wmd' %>
    <%= stylesheet_link_tag 'typography' %>
    <%= stylesheet_link_tag 'tinyeditorstyle' %>
    <%= stylesheet_link_tag 'forms' %>
    <%= stylesheet_link_tag 'events' %>
    <%= stylesheet_link_tag 'promotion' %>
    <%= stylesheet_link_tag 'slidedeck.skin' %>
    <%= stylesheet_link_tag 'token-input-facebook' %>
    <%= stylesheet_link_tag 'token-input' %>
	<%= stylesheet_link_tag 'jquery.fancybox-1.3.1' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'modalbox'%>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      <%= yield %>
    </div>
  </body>
</html>
